<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MultiPlayer" connectionString="Data Source=localhost; Initial Catalog=MultiPlayer; Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserDataService" />
        <binding name="BasicHttpBinding_IGameDataService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2114/Users" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserDataService" contract="UserService.IUserDataService"
        name="BasicHttpBinding_IUserDataService" />
      <endpoint address="http://localhost:2113/Games" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGameDataService" contract="GameService.IGameDataService"
        name="BasicHttpBinding_IGameDataService" />
    </client>
  </system.serviceModel>
</configuration>